td {
  text-align: center;
  padding: 8px; 
}

.blue {
  background-color: blue;
  color: white;
}

.red {
  background-color: red;
  color: white;
}

.green {
  background-color: green;
  color: white;
}

.orange {
  background-color: orange;
  color: white;
}

.yellow {
  background-color: yellow;
  color: black;
}

.duty {
  font-style: italic;
  font-weight: bold;
}

tbody tr:nth-child(even) {
  background-color: lightgrey;
  color: black;
}